html {
  font-size: 10px;
  background: linear-gradient(rgba(231, 247, 95, 0.5),rgba(31, 28, 28, 0.8) ), url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/IcelandSymphonyOrchestra_OnStage.jpg/2560px-IcelandSymphonyOrchestra_OnStage.jpg), bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

button {
  outline: none;
}

@media screen and (max-width: 700px) { /* Change this to 400px, 800px for demo purpose */
  body {
    background: #dbd6cc;
  }

  .keys {
    display: flex;
    flex-direction: column; /* For vertical placement of items */
  }
}